.about
	.block-title
		| Image with text
	.block-subtitle
		| With List
	.about__image
		img(src="images/about-image.jpg" alt="")
	.about__text
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		| Pellentesque vestibulum tellus massa, sed malesuada neque
		| lacinia a. Vestibulum ante ipsum primis in faucibus orci luctus
		| et ultrices posuere cubilia Curae; Quisque et eros eu nisi auctor
		| finibus. Morbi elementum, nibh in convallis hendrerit, lorem lorem
		| sodales diam, et sagittis libero enim nec lacus. Nam molestie magna
		| augue, nec malesuada sem auctor a. Cras augue lectus, viverra at
		| dui at, porta facilisis tortor. Donec finibus ut leo quis feugiat.