.albums-banner
	.container
		.albums-banner__text
			| #[span cantus] find the music your Choice & discover our new tracks.#[br]
			| Connect directly with your favorite band member.
		.search
			.container
				form.search__form(action="" method="post")
					input(type="email" placeholder="Search")
					button(type="submit")
