.container
	.app-banner
		.app-banner__title
			| Download Our Official Apps
		.app-banner__text
			| Never stop listening. Take your playlists and likes wherever you go.
		.app-banner__downloads
			a.app-banner__downloads__item.app-banner__downloads__item--1(href="#")
			a.app-banner__downloads__item.app-banner__downloads__item--2(href="#")
