footer.footer
	.container
		.footer__menu
			a.footer__menu__item(href="#")
				| Home
			a.footer__menu__item(href="#")
				| Events
			a.footer__menu__item(href="#")
				| Gallery
			a.footer__menu__item(href="#")
				| News
			a.footer__menu__item(href="#")
				| Albums
			a.footer__menu__item(href="#")
				| Pages
		.footer__copyright
			| Copyright © 2009–2016 #[span cantus] © their respective owners. Shipped from Salem, Mass. USA.
