header.header
	.header__menu
		a.header__menu__item(href="#")
			| Home
		a.header__menu__item(href="#")
			| Events
		a.header__menu__item(href="#")
			| Gallery
		a.header__menu__item(href="#")
			| News
		a.header__menu__item(href="#")
			| Albums
		a.header__menu__item(href="#")
			| Pages
	.header__logo
		img.header__logo__image(src="images/logo.png" alt="Cantus")
	.header__socials
		.header__socials__share
			script(src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
			script(src='//yastatic.net/share2/share.js')
			.ya-share2(data-services='facebook,gplus,twitter', data-counter='')
		a.button.button--white(href="#")
			| Purchase ticket
