header.header
	.header__menu
		a.header__menu__item(href="#")
			| Home
		a.header__menu__item(href="#")
			| Events
		a.header__menu__item(href="#")
			| Gallery
		a.header__menu__item(href="#")
			| News
		a.header__menu__item(href="#")
			| Albums
		a.header__menu__item(href="#")
			| Pages
	.header__logo
		img.header__logo__image(src="images/logo.png" alt="Cantus")
	.header__socials
		.header__socials__share
			include share
		a.button.button--white(href="#")
			| Purchase ticket
