.index-banner
	.container
		.index-banner__text
			.index-banner__text__title
				| Let’s Rock
			.index-banner__text__subtitle
				| With Cantus
			a.button.button--monza(href="#")
				| Discover more
