.introducing
	.container
		.block-title
			| Introducing
		.block-subtitle
			| Our Members
		.introducing__slider
			.introducing__slide
				img.introducing__slide__image(src="images/introducing/1.jpg" alt="")
				.introducing__slide__data
					a.introducing__slide__data__name(href="generic.html")
						| John Smith
					.introducing__slide__data__status
						| Vocal
					.introducing__slide__data__share
						include share
			.introducing__slide
				img.introducing__slide__image(src="images/introducing/2.jpg" alt="")
				.introducing__slide__data
					a.introducing__slide__data__name(href="generic.html")
						| Rendi Outhor
					.introducing__slide__data__status
						| Drum
					.introducing__slide__data__share
						include share
			.introducing__slide
				img.introducing__slide__image(src="images/introducing/3.jpg" alt="")
				.introducing__slide__data
					a.introducing__slide__data__name(href="generic.html")
						| Renes Odin
					.introducing__slide__data__status
						| Guitar
					.introducing__slide__data__share
						include share
			.introducing__slide
				img.introducing__slide__image(src="images/introducing/3.jpg" alt="")
				.introducing__slide__data
					a.introducing__slide__data__name(href="generic.html")
						| Renes Odin
					.introducing__slide__data__status
						| Guitar
					.introducing__slide__data__share
						include share
			.introducing__slide
				img.introducing__slide__image(src="images/introducing/3.jpg" alt="")
				a.introducing__slide__data__name(href="generic.html")
					.introducing__slide__data__name
						| Renes Odin
					.introducing__slide__data__status
						| Guitar
					.introducing__slide__data__share
						include share
			.introducing__slide
				img.introducing__slide__image(src="images/introducing/3.jpg" alt="")
				a.introducing__slide__data__name(href="generic.html")
					.introducing__slide__data__name
						| Renes Odin
					.introducing__slide__data__status
						| Guitar
					.introducing__slide__data__share
						include share
