.media
	.container
		.col-1
			.block-title
				| Upcoming
			.block-subtitle
				| Concert
			.media__concert
				.media__concert__image
					img(src="images/media-concert-image.jpg" alt="")
				.media__concert__data
					.media__concert__data__title
						| Texas Rocks nation 2016
					.media__concert__data__location
						| Location : 31 Great Smith Street, UK
					.media__concert__data__date
						| Date : July 13, 2017
					.media__concert__data__time
						| Time : 10:00 AM
					.media__concert__data__price
						| Price : $40
					a.button.button--monza(href="#")
						| Purchase ticket
		.col-2
			.media__latest
				.block-title
					| Latest
				.block-subtitle
					| Videos
				.media__latest__videos
					.media__latest__video
						img(src="images/video.jpg" alt="")
						button.media__latest__video__play(type="button")
					.media__latest__video
						img(src="images/video.jpg" alt="")
						button.media__latest__video__play(type="button")
					.media__latest__video
						img(src="images/video.jpg" alt="")
						button.media__latest__video__play(type="button")
