.sounds
	.container
		.col-1
			.block-title
				| Popular
			.block-subtitle
				| Sounds
			.sounds__songs
				iframe(width='100%', height='373', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/6389846&color=%2390b3bc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
		.col-2
			.block-title
				| Instagram
			.block-subtitle
				| Feed
			.sounds__inst
				.sounds__inst__col-1
					a.sounds__inst__item(href="#")
						img(src="images/inst1.jpg" alt="")
					a.sounds__inst__item(href="#")
						img(src="images/inst2.jpg" alt="")
				.sounds__inst__col-2
					a.sounds__inst__item(href="#")
						img(src="images/inst3.jpg" alt="")
					a.sounds__inst__item(href="#")
						img(src="images/inst4.jpg" alt="")
