.container
	.story-banner
		.story-banner__title
			| Our Founder staying in our hearts
		.story-banner__text
			| 1982 #[span cantus] Start jurny and now it‘s top class Rock Band in the California.
		a.button.button--white(href="#")
			| Learn more
