.trending
	.container
		.block-title
			| Our trending
		.block-subtitle
			| Albums
		.trending__slider
			.trending__slide
				.trending__slide__inner
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/1.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/2.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/3.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/4.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/5.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/6.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/7.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/1.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
			.trending__slide
				.trending__slide__inner
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/2.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/3.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/2.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/6.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/1.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/5.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/4.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
					a.trending__slide__item(href="#")
						img.trending__slide__item__image(src="images/trending/7.jpg" alt="")
						.trending__slide__item__overlay
							.trending__slide__item__text
								| Panda
