.albums-banner {
	padding-bottom: 40px;
	height: 584px;
	background: url("../images/album-banner.jpg") center no-repeat;
	background-size: cover;

	&__text {
		padding-top: 184px;
		font-size: 32px;
		line-height: 44px;
		text-align: center;
		color: $color-white;

		span {
			font-family: $font-family-great-vibes;
			font-size: 65px;
			line-height: 53px;

			@media (max-width: 860px) {
				font-size: 60px;
				line-height: 30px;
			}
		}

		@media (max-width: 1100px) {
			padding-top: 115px;
		}

		@media (max-width: 860px) {
			font-size: 22px;
			line-height: 34px;
		}

		@media (max-width: 670px) {
			padding-top: 48px;
		}
	}

	@media (max-width: 1100px) {
		height: 560px;
	}

	@media (max-width: 860px) {
		height: auto;
	}
}
