.block-title {
	font-family: $font-family-oswald;
	font-size: 32px;
	line-height: 30px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.block-subtitle {
	margin-top: 8px;
	font-family: $font-family-great-vibes;
	font-size: 32px;
	line-height: 30px;
	letter-spacing: 3px;
	color: $color-monza;
}
