@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

@font-face {
	src: url("../fonts/DroidSans.woff") format("woff");
	font-family: "DroidSans";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-ExtraLight.woff") format("woff");
	font-family: "Oswald";
	font-weight: 200;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-ExtraLightItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 200;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Oswald-light.woff") format("woff");
	font-family: "Oswald";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-lightItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 300;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Oswald-Regular.woff") format("woff");
	font-family: "Oswald";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-RegularItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Oswald-Medium.woff") format("woff");
	font-family: "Oswald";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-MediumItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 500;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Oswald-DemiBold.woff") format("woff");
	font-family: "Oswald";
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-DemiBoldItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 600;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Oswald-Bold.woff") format("woff");
	font-family: "Oswald";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Oswald-BoldItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 700;
	font-style: italic;
}

@font-face {
	src: url("../fonts/Heavy.woff") format("woff");
	font-family: "Oswald";
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url("../fonts/HeavyItalic.woff") format("woff");
	font-family: "Oswald";
	font-weight: 900;
	font-style: normal;
}
