.footer {
	border-top: solid 1px $color-alto;
	padding-bottom: 85px;
	text-align: center;

	&__menu {
		margin-top: 64px;
		margin-bottom: 17px;

		&__item {
			display: inline-block;
			margin: 2px 22px;
			padding: 7px 0;
			font-size: 13px;
			letter-spacing: 0.3px;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-mine-shaft;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__copyright {
		font-size: 13px;
		letter-spacing: 0.7px;

		span {
			font-family: $font-family-great-vibes;
			font-size: 28px;
			color: $color-monza;
		}
	}

	@media (max-width: 700px) {
		padding-bottom: 50px;
	}
}
