.header {
	display: flex;
	height: auto;
	text-align: center;
	background: $color-monza;

	&__menu,
	&__logo,
	&__socials {
		flex-grow: 1;
		width: calc(#{percentage(1 / 3)} - 1px);

		@media (max-width: 1730px) {
			width: 100%;
		}
	}

	&__menu {
		padding: 28px 0;
		text-align: center;

		&__item {
			position: relative;
			margin: 0 18px;
			padding: 20px 7px;
			font-weight: bold;
			font-size: 13px;
			line-height: 44px;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-white;
			transition: background 0.3s ease;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				height: 1px;
				background: rgba($color-white, 0);
			}

			&:hover {
				&::before {
					background: rgba($color-white, 0.5);
				}
			}

			@media (max-width: 590px) {
				display: inline-block;
				line-height: 12px;
			}

			@media (max-width: 560px) {
				padding: 14px 7px;
			}
		}

		@media (max-width: 1730px) {
			padding: 8px 0;
		}
	}

	&__logo {
		text-align: center;

		&__image {
			padding: 10px 0;
		}
	}

	&__socials {
		display: flex;

		&__share {
			padding: 12px 0 12px 44px;

			@media (max-width: 1870px) {
				padding: 12px 0 8px;
			}

			@media (max-width: 590px) {
				padding: 0;
			}
		}

		.button--white {
			margin-top: 24px;
			margin-left: 67px;

			@media (max-width: 1870px) {
				margin-left: 47px;
			}

			@media (max-width: 590px) {
				margin-left: 0;
			}
		}

		@media (max-width: 1730px) {
			margin: 0 auto;
			width: auto;
		}

		@media (max-width: 590px) {
			display: block;
		}
	}

	.ya-share2__badge {
		background: none !important;
	}

	.ya-share2__link {
		padding: 20px 16px;
	}

	.ya-share2__container_size_m .ya-share2__icon {
		width: 34px;
		height: 34px;
	}

	.ya-share2__container_size_m .ya-share2__counter {
		padding: 6px 0;
		font-size: 16px;
	}

	.ya-share2__list_direction_horizontal > .ya-share2__item {
		margin-right: 35px;
	}

	.ya-share2__counter:before {
		opacity: 0;
	}

	@media (max-width: 1730px) {
		flex-direction: column;
		padding-bottom: 20px;
	}
}
