.index-banner {
	height: 702px;
	background: url("../images/index-banner.jpg") center no-repeat;
	background-size: cover;

	&__text {
		padding-top: 200px;
		text-align: center;

		&__title {
			font-family: $font-family-oswald;
			font-weight: bold;
			font-size: 115px;
			line-height: 115px;
			text-transform: uppercase;
			color: $color-monza;
		}

		&__subtitle {
			font-family: $font-family-great-vibes;
			font-size: 80px;
			line-height: 80px;
			color: $color-mine-shaft;
		}
	}
}
