.index-banner {
	height: 702px;
	background: url("../images/index-banner.jpg") center no-repeat;
	background-size: cover;

	&__text {
		padding-top: 200px;
		text-align: center;

		&__title {
			font-family: $font-family-oswald;
			font-weight: bold;
			font-size: 115px;
			line-height: 115px;
			text-transform: uppercase;
			color: $color-monza;

			@media (max-width: 860px) {
				font-size: 71px;
				line-height: 90px;
			}

			@media (max-width: 530px) {
				font-size: 45px;
				line-height: 37px;
			}
		}

		&__subtitle {
			font-family: $font-family-great-vibes;
			font-size: 80px;
			line-height: 80px;
			color: $color-mine-shaft;

			@media (max-width: 860px) {
				font-size: 57px;
			}

			@media (max-width: 530px) {
				font-size: 40px;
			}
		}

		@media (max-width: 1100px) {
			padding-top: 115px;
		}

		@media (max-width: 670px) {
			padding-top: 48px;
		}
	}

	@media (max-width: 1100px) {
		height: 560px;
	}

	@media (max-width: 860px) {
		height: 445px;
	}

	@media (max-width: 670px) {
		height: 360px;
	}

	@media (max-width: 530px) {
		height: 272px;
	}

	@media (max-width: 420px) {
		height: 235px;
	}
}
