.introducing {
	margin-top: 102px;

	&__slider {
		display: flex;
		margin: 25px -15px;

		.slick-arrow {
			font-size: 0;

			&.slick-prev,
			&.slick-next {
				position: absolute;
				top: -29px;
				z-index: 2;
				outline: none;
				border: none;
				width: 35px;
				height: 35px;
				background: $color-monza;
				transition: background 0.2s ease;

				&::before {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					display: block;
					font-size: 19px;
					color: $color-white;
					transform: translate(-50%, -50%);
				}

				&:hover {
					background: darken($color-monza, 3%);
				}
			}

			&.slick-prev {
				right: 57px;

				&::before {
					content: "<";
				}
			}

			&.slick-next {
				right: 17px;

				&::before {
					content: ">";
				}
			}
		}

		@media (max-width: 1230px) {
			margin: 0 auto;
			width: 804px;
		}

		@media (max-width: 900px) {
			margin: 25px 0;
			width: auto;
		}
	}

	&__slide {
		position: relative;
		display: inline-block;
		margin: 15px;
		width: auto !important;

		&__image {
			display: inline-block;
			width: 100%;
		}

		&__data {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 12px 25px 22px;
			background: $color-monza;

			&__name {
				font-size: 22px;
				line-height: 30px;
				color: $color-white;

				@media (max-width: 540px) {
					font-size: 15px;
					line-height: 15px;
				}

				@media (max-width: 350px) {
					font-size: 14px;
					line-height: 14px;
				}
			}

			&__status {
				color: $color-white;

				@media (max-width: 540px) {
					font-size: 14px;
					line-height: 14px;
				}

				@media (max-width: 350px) {
					font-size: 13px;
					line-height: 13px;
				}
			}

			&__share {
				display: none;
			}

			.ya-share2__badge {
				background: none !important;
			}

			.ya-share2__link {
				padding: 7px 16px;
			}

			.ya-share2__container_size_m .ya-share2__icon {
				width: 34px;
				height: 34px;
			}

			.ya-share2__container_size_m .ya-share2__counter {
				padding: 6px 0;
				font-size: 16px;
			}

			.ya-share2__list_direction_horizontal > .ya-share2__item {
				margin-right: 0;
			}

			.ya-share2__counter::before {
				opacity: 0;
			}

			&:hover {
				.introducing__slide__data__share {
					display: block;

					@media (max-width: 555px) {
						display: none;
					}
				}
			}

			@media (max-width: 450px) {
				padding: 12px 11px 15px;
			}
		}

		@media (max-width: 900px) {
			width: calc(50vw - 45px) !important;
		}

		@media (max-width: 580px) {
			margin: 15px 5px;
			width: calc(50vw - 25px) !important;
		}
	}

	@media (max-width: 700px) {
		margin-top: 50px;
	}
}
