.media {
	padding: 15px 0;

	.container {
		display: flex;
	}

	.col-1 {
		flex-grow: 1;
	}

	.col-2 {
		flex-grow: 1;
	}

	&__concert {
		display: flex;
		margin-top: 37px;

		&__image {
			img {
				display: block;
			}
		}

		&__data {
			padding-top: 16px;
			padding-left: 78px;

			&__title {
				margin-bottom: 26px;
				font-family: $font-family-oswald;
				font-weight: 600;
				font-size: 22px;
				line-height: 30px;
			}

			&__location,
			&__date,
			&__time,
			&__price {
				margin-bottom: 11px;
			}

			.button {
				margin-top: 16px;
			}
		}
	}

	&__latest {
		overflow: hidden;
		padding-left: 188px;

		&__videos {
			margin-top: 36px;
			width: 372px;
		}

		&__video {
			position: relative;

			img {
				display: block;
				width: 372px;
				height: 290px;
			}

			&__play {
				position: absolute;
				left: 50%;
				top: 50%;
				outline: none;
				border: none;
				border-radius: 50%;
				width: 60px;
				height: 60px;
				background: $color-monza;
				transform: translate(-50%, -50%);

				&::before {
					@include sprite("play");

					content: "";
					margin-left: 6px;
				}

				&:hover {
					background: darken($color-monza, 4%);
				}
			}
		}
	}

	.slick-arrow {
		font-size: 0;

		&.slick-prev,
		&.slick-next {
			position: absolute;
			top: -45px;
			z-index: 2;
			outline: none;
			border: none;
			width: 35px;
			height: 35px;
			background: $color-monza;
			transition: background 0.2s ease;

			&::before {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				display: block;
				font-size: 19px;
				color: $color-white;
				transform: translate(-50%, -50%);
			}

			&:hover {
				background: darken($color-monza, 3%);
			}
		}

		&.slick-prev {
			right: 40px;

			&::before {
				content: "<";
			}
		}

		&.slick-next {
			right: 0;

			&::before {
				content: ">";
			}
		}
	}
}
