.sounds {
	padding-top: 14px;

	.container {
		display: flex;

		@media (max-width: 1020px) {
			flex-direction: column;
		}
	}

	.col-1 {
		flex-grow: 1;
	}

	.col-2 {
		margin-left: 29px;
		width: 370px;

		@media (max-width: 1020px) {
			margin-top: 50px;
			margin-left: 0;
			width: auto;
		}
	}

	&__songs {
		padding-top: 34px;
	}

	&__inst {
		padding-top: 34px;

		&__col-1 {
			margin-bottom: 23px;

			@media (max-width: 1020px) {
				margin-right: 27px;
			}

			@media (max-width: 791px) {
				margin-right: 0;
				width: 370px;
			}

			@media (max-width: 420px) {
				text-align: center;
			}

			@media (max-width: 420px) {
				width: auto;
			}

			@media (max-width: 342px) {
				margin-bottom: 0;
			}
		}

		&__col-2 {
			@media (max-width: 420px) {
				text-align: center;
			}
		}

		&__item {
			margin-right: 27px;

			img {
				@media (max-width: 420px) {
					width: 143px;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: 1020px) {
			display: flex;
		}

		@media (max-width: 791px) {
			display: block;
			margin: 0 auto;
			width: 367px;
		}

		@media (max-width: 420px) {
			width: auto;
		}
	}

	@media (max-width: 791px) {
		margin-bottom: 30px;
	}
}
