.sounds {
	padding-top: 14px;

	.container {
		display: flex;
	}

	.col-1 {
		width: 770px;
	}

	.col-2 {
		margin-left: 29px;
		width: 370px;
	}

	&__songs {
		padding-top: 34px;
	}

	&__inst {
		padding-top: 34px;

		&__col-1 {
			margin-bottom: 23px;
		}

		&__col-2 {
		}

		&__item {
			margin-right: 27px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
