$sprites: (
	"play": (
		normal: (
			x: 0,
			y: 0,
			width: 20,
			height: 22,
			image: "sprites.png",
			total_width: 38,
			total_height: 38,
		),
		retina: (
			x: 0,
			y: 0,
			width: 40,
			height: 44,
			image: "sprites@2x.png",
			total_width: 76,
			total_height: 76,
		),
	),
	"search": (
		normal: (
			x: 22,
			y: 0,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 38,
			total_height: 38,
		),
		retina: (
			x: 44,
			y: 0,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 76,
			total_height: 76,
		),
	),
	"subscribe-arrow": (
		normal: (
			x: 0,
			y: 24,
			width: 14,
			height: 14,
			image: "sprites.png",
			total_width: 38,
			total_height: 38,
		),
		retina: (
			x: 0,
			y: 48,
			width: 28,
			height: 28,
			image: "sprites@2x.png",
			total_width: 76,
			total_height: 76,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
