// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-monza: #df001f;
$color-mine-shaft: #333;
$color-alto: #dfdfdf;
$color-dusty-gray: #999;

// FONTS

$font-family-great-vibes: "Great Vibes", cursive;
$font-family-droid-sans: "DroidSans", sans-serif;
$font-family-oswald: "Oswald", sans-serif;

